*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
}

li {
  text-decoration: none;
  list-style: none;
  font-family: "Barlow" sans-serif;
}

li + li {
  margin-left: 50px;
}

.main-title {
  padding: 0 20px 0 20px;
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  color: white;
  letter-spacing: 8px;
}

.product-title {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.product-text {
  position: absolute;
  top: 72%;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}

.product-graphic-design {
  color: #25564b;
}

.product-photography {
  color: #19536b;
}

.learn-more-text,
.testimonials-text {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #818498;
  line-height: 1.5;
}

.learn-more-title {
  font-size: 36px;
  font-weight: 900;
  color: #23303e;
}

.learn-more-link {
  color: #23303e;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: -3px;
}

.testimonials-title {
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0;
  font-size: 18px;
  letter-spacing: 4px;
  color: #a7abae;
}

.client-title {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  color: #a7abae;
  margin-top: 10px;
}

.yellow {
  -webkit-text-decoration-color: rgba(250, 212, 0, 0.575);
          text-decoration-color: rgba(250, 212, 0, 0.575);
}

.yellow:hover {
  -webkit-text-decoration-color: #fad400;
          text-decoration-color: #fad400;
  text-decoration-thickness: 6px;
  cursor: pointer;
}

.red {
  -webkit-text-decoration-color: rgba(254, 120, 103, 0.575);
          text-decoration-color: rgba(254, 120, 103, 0.575);
}

.red:hover {
  -webkit-text-decoration-color: #fe7867;
          text-decoration-color: #fe7867;
  text-decoration-thickness: 6px;
  cursor: pointer;
}

img {
  width: 100%;
}

.client-photo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

picture {
  margin-bottom: -4px;
}

.logo {
  width: 120px;
}

.hamburger {
  width: 25px;
}

.logo-footer {
  fill: #25564b;
}

.arrow {
  width: 35px;
}

.icon {
  width: 22px;
}

.icon + .icon {
  margin-left: 20px;
}

.icon:hover {
  cursor: pointer;
}

nav {
  position: absolute;
  top: 0;
  z-index: 99;
  background-color: #3ebfff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.nav-list .nav-items {
  color: white;
}

.nav-list .contact {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 10px 20px;
}

.arrow-container {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 55%;
  left: 0;
}

.main-hero,
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card {
  background-color: white;
  width: 85%;
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  text-align: center;
}

.testimonials-container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer {
  background-color: #a2ddcf;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container {
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .footer-list .footer-items {
  color: #458c7e;
}

footer .footer-container .footer-list .footer-items:hover {
  color: white;
  cursor: pointer;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: absolute;
  top: 100px;
  z-index: 100;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 280px;
}

.mb-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 50px 0;
}

.mb-nav-items {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #a7abae;
}

.mb-nav-items + .mb-nav-items {
  margin-left: 0;
}

.mb-contact {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  background-color: #fad400;
  border-radius: 30px;
  color: black;
  padding: 15px 25px;
}

.mb-close {
  display: none;
}

@media (min-width: 700px) {
  .learn-more {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .card {
    width: 80%;
    text-align: left;
    gap: 20px;
    margin: 20px auto;
  }
  .card-testimonials {
    text-align: center;
  }
  .learn-more-g1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .learn-more-g2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .learn-more-g3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .learn-more-g4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .learn-more-text {
    font-size: 13.5px;
  }
  .learn-more-title {
    font-size: 27px;
  }
  .learn-more-link {
    font-size: 11.25px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-title {
    font-size: 18px;
  }
  .product-text {
    font-size: 9.6px;
    padding: 20px 20% 0 20%;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger,
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 1000px) {
  .card {
    width: 70%;
    gap: 30px;
    margin: 20px auto;
  }
  .learn-more-text {
    font-size: 20.7px;
  }
  .learn-more-title {
    font-size: 41.4px;
  }
  .learn-more-link {
    font-size: 17.25px;
  }
  .product-title {
    font-size: 30px;
  }
  .product-text {
    font-size: 16px;
    padding: 20px 25% 0 25%;
  }
  .testimonials-container {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .testimonials {
    margin: 150px 0;
  }
  .card-testimonials {
    gap: 50px;
  }
  .arrow-container {
    top: 45%;
  }
}
/*# sourceMappingURL=style.css.map */